/* ----------------------------
-------------------------------
--Code-written-by-Sven-Parker--
-------------------------------
----------2015-01-21-----------
-----------------------------*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Maven+Pro:400,700);

/* 	Green
	#44D62C
*/
/* 	Orange
	#FE5000
*/
/*	Grey 1
	#333
*/
/*	Grey 2
	#404040
*/
/*	Grey 3
	#2E2E2E
*/
/*	Grey 4
	#a8a8a8
*/
/*----- Main Formatting -----*/

* {
	-webkit-transition: all 0.2s linear;
	 -moz-transition: all 0.2s linear;
	 -o-transition: all 0.2s linear;
	 transition: all 0.2s linear;
}*::selection {
  background: #FFA06A; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: #FFA06A; /* Gecko Browsers */
}

body {
	margin: 0 auto;
	top: 0;
	left: 0;
	background-color: #333;
	min-width: 320px;
}

header {
	width: 100%;
	height: 50px;
	margin-bottom: 50px;
	background-color: #404040;
}

main {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 800px;
	z-index: 10;
	overflow: hidden;
}

footer {
	width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
}

/*----- Text Formatting -----*/

h1, h2, h3, h4, h5, h6{
	font-family: 'Maven Pro', sans-serif;
	color: white;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 12pt;
	color: #a8a8a8;
}

h4 {
	margin: 3px 0;
	display: inline-block;
}

h5 {
	margin: 5px 0 0;
	font-size: 12pt;
}

h6 {
	color: #a8a8a8;
	margin: 0;
	font-size: 10pt;
}

p, a, label, button {
	font-family: 'Lato', sans-serif;
	color: #a8a8a8;
}

input {
	background-color: #2E2E2E;
	border: #2E2E2E solid 1px;
	border-radius: 10px;
	color: #a8a8a8;
	padding: 0 5px;
	font-size: 10pt;
}input:focus {
	border-bottom: solid 2px #FE5000;
	outline: none;
}

a, a:visited, a:active {
	color: #FE5000;
	text-decoration: none;
} a:hover {
	color: #FE5000;
}

a.close {
	cursor: pointer;
	z-index: 200;
}

ol {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	width: 75%;
} ol > li > h4 {
		font-size: 32pt;
	}

/*----- Header Formatting -----*/

header h1 {
	margin: 0;
	padding-top: 10px;
	text-align: center;
	z-index: 300;
}

/*----- General Class Formatting -----*/

.centerDiv {
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.centerTextLink {
	text-align: center;
}

.floatLeft {
	float: left;
	clear: left;
}

.floatRight {
	float: right;
	clear: right;
}

.orange {
	color: #FE5000;
}

.hide {
	display: none !important; 
}

.show {
	display: block !important;
}

.space {
	margin: 0 10px;
}

.centerWrap {
	display: table;
	margin: 10px auto 0;
}

.button > p {margin: 0; color: #a8a8a8}

.button{
	border-radius: 20px;
	padding:10px;
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	background-color: #2E2E2E;
}

.button:hover{
	background-color: #222;
	color:#fff;
}

.buttonOrange {
	border-bottom: solid 2px #FE5000;
}
.buttonOrange > p {
	color: #FE5000;
}

.closeButton {
	position: absolute;
	left: 5px;
	top: 5px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.75);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px; /* future proofing */
	-khtml-border-radius: 20px; /* for old Konqueror browsers */
	margin: 0;
	padding: 0;
	color: rgb(255,255,255);
}	.closeButton > p {
		text-align: center;
		margin-top: 5px;
		color: rgb(255,255,255);
	}

/*----- Dice Formatting -----*/

div.die {
	margin: 5px;
	padding: 5px;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	color: #a8a8a8;
	background-color: #2E2E2E;
	font-family: 'Lato', sans-serif;
} div.die > p {
	margin: 9px;	
}

/*----- statsWrap Formatting -----*/

.statsWrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}.statsWrap > p {
	display: inline-block;
}.statsWrap span {
	line-height: 38px;
	margin: 5px;
	padding: 5px;
	height: 40px;
	width: 40px;
	border-radius: 30px;
	text-align: center;
	display: inline-block;
	color: #a8a8a8;
	background-color: #2E2E2E;
	font-family: 'Lato', sans-serif;
	}

/*----- scoreLog Formatting -----*/

#scoreLog {
	display: inline-block;
}

#scoreLog > p {
	margin: 0;
}

#scoreLog > p > span {
	display: inline-block;
	text-align: right;
	width: 20px;
}

#scoreLog > p > span.fat {width: 45px;}

/*----- popUp Formatting -----*/

.userInfoForm {
	position: relative;
	height: 85%;
	width: 80%;
	
	margin: 0 auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.userInfoForm input[type="email"], .userInfoForm input[type="text"], .userInfoForm input[type="password"] {
	min-width: 65%;
	border: none;
	border-bottom: solid 2px #c9c9c9;
}.userInfoForm input[type="email"]:focus, .userInfoForm input[type="text"]:focus, .userInfoForm input[type="password"]:focus {
	border-bottom: solid 2px #FE5000;
	outline: none;
}

.userInfoForm .submitButtonWrap {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.userInfoForm .submitButton {
	display: block;
	margin: 0 auto;
	color: #a8a8a8;
}

.userInfoForm h2 {
	color: #333;
}

.userInfoForm a {
	clear: both;
	width: inherit;
	display: inline-block;
	margin-top: 5px;
}

form label:after { /* Adds colon to all labels within a form */
    content:":";
}

.requiredInput:after {
	content: "*";
	color: #FE5000;
	position: relative;
	float: right;
	right: 5px;
	top: 5px;
	z-index: 500;
}

.popUp {
	position: fixed;
	background-color:rgba(255,255,255,0.9);
	border: 20px solid rgba(0,0,0,0.75);
	-webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
			border-radius: 40px;
	z-index: 1000;
	max-width: 600px;
	height: 300px;
	/* Adds .centerDiv which centers the div */
}

.popUpBG {
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 900;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/*----- highScore Formatting -----*/

.highScoreWrap {
	display: inline-block;
	width: 250px;
	overflow: visible;
}

.tooltip {
	width: 300px;
	right: 270px;
	top: -150px;
	position: relative;
	padding: 10px;
	text-align: center;
	color: rgb(168, 168, 168);
	background: rgb(51, 51, 51);
	border: 2px solid rgb(255, 255, 255);
	border-radius: 25px;
	text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}

.tooltip:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 15px;
	border-style: solid;
	border-color: transparent transparent transparent #FFFFFF;
	top: 115px;
	right: -32px;
}

/*----- errorDisplay Formatting -----*/

#notification {
    position: absolute;
    z-index: 101;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
}

.alert {
	background: #FE5000;
}

.message {
	background: #44D62C;
}

/*#hidden-notification {
	top:0;
	height: 50px;
	width: 100%;
}*/

#messageDisplay {
	color: #FFF;
}

/*----- Footer Formatting -----*/

footer p {
	text-align: center;
	font-size: 10px;
}